.row{
    color: white;
    margin-left: 15px;
}
.row_img{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_img::-webkit-scrollbar{
  display: none;
}

.poster{
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 500ms;
}

.poster:hover{
    transform: scale(1.08);
    opacity: 1;
}
.porster_large{
    max-height: 250px;
}
.porster_large:hover{
    transform: scale(1.1);
}